<h1> Contact </h1>
<br>
<div class="row">
    <div class="col-lg-3">
        
        <a href="mailto:wasiuddin.ahmed@hotmail.com" class="btn btn-success" target="_top">
            <i class="fa fa-envelope"></i> | Email
        </a>
        <br><br>
        <a href="https://ca.linkedin.com/in/mohahmed" class="btn btn-linkedin" target="blank">
            <i class="fa fa-linkedin"></i> | Mohammad Ahmed
        </a>
    </div>
</div>