<div class="container text-center">
<h1> Contact </h1>
<p> Best way to reach me is by e-mail</p>
<br />

<div class="row">
        <a href="mailto:wasiuddin.ahmed@hotmail.com" class="btn btn-success" target="_top">
            <%= icon('envelope') %> | Email
        </a>
        <a href="https://ca.linkedin.com/in/mohahmed" class="btn btn-linkedin" target="blank">
            <%= icon('linkedin') %> | LinkedIn
        </a>
</div>
</div>