%script{:type => "application/ld+json"}
  {
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "MWAhmed",
  "alternateName" : "Mohammad Ahmed",
  "url" : "http://www.mwahmed.com"
  }

:javascript
  $(document).ready(function() {
      $('body').addClass('background');
  });  
