<script type="application/ld+json">
  {
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "MWAhmed",
  "alternateName" : "Mohammad Ahmed",
  "url" : "http://www.mwahmed.com"
  }
</script>

<div class="container text-center" id="home-about">
	<p> Hello, I'm Mohammad. </p>

	<p> I am a software engineer, photographer currently living in Toronto, Canada.</p>

	<p> If you want to get in touch with me, you can find my contact information <a href="/contact"> here</a>.</p>
</div>