%h3.text-center
  Hello! I am Mohammad W. Ahmed
  %br/
  %br/
  I am a Software Engineer living in the Greater Toronto Area
  %br/
  %br/
  I am also an amateur photographer in my spare time
  %br/
  %br/
  This is a personal website
  %br/
  %br/
  The purpose of this website is to showcase any work I would like to share
  %br/
  %br/
  My contact information is included 
  = link_to("here", contact_path)
  