<script type="application/ld+json">
  {
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "MWAhmed",
  "alternateName" : "Mohammad Ahmed",
  "url" : "http://www.mwahmed.com"
  }
</script>

<div class="container text-center" id="home-about">
	<br>
	<p> Hello, I'm Mohammad. </p>

	<p> I am a software engineer currently living in Toronto, Canada.</p>

	<p> Contact details <a href="/contact"> here</a>.</p>
</div>
