<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.0/jquery.justifiedGallery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.0/css/justifiedGallery.min.css">

<div id="world-map"></div>
<script> 
   jQuery(document).ready(function() {
       function generateImgHtml(data) {
           var html = "";
           data.forEach(function(item) {
               html += "<a href=" + item[0] + " title= " + "\'" + item[1] + "\'" + " <img class='galler-image' src=" + item[0] + "/> </a>"
           });
           return html;
       }

       jQuery('#world-map').empty();
       var modal_options = {
           "backdrop": "static"
       }
       var img_hash = {};
       img_hash = JSON.parse('<%=@img_with_loc_json.to_s.html_safe%>');

       var markers = [];
       var keys = Object.keys(img_hash);

       var data = jQuery.parseJSON('<%=@img_with_loc_json.to_s.html_safe%>');

       jQuery.each(data, function(i, item) {
           var location = {
               latLng: JSON.parse(i),
               name: "",
               urls: item
           };

           markers.push(location);
       });

       jQuery('#world-map').vectorMap({
           map: 'world_mill_en',
           scaleColors: ['#C8EEFF', '#0071A4'],
           normalizeFunction: 'polynomial',
           hoverOpacity: 0.7,
           hoverColor: false,
           markerStyle: {
               initial: {
                   fill: '#9172EC',
                   stroke: '#383f47'
               }
           },
           backgroundColor: '#383f47',
           markers: markers,
           onMarkerClick: function(e, index) {
               jQuery('#modal-body').empty();
               jQuery('#modal-body').html(generateImgHtml(markers[index].urls));
               jQuery('#modal').modal(modal_options);
               jQuery("#modal-body").justifiedGallery({
                   'usedSuffix': 'lt240',
                   'justifyLastRow': false,
                   'rowHeight': 120,
                   'fixedHeight': false,
                   'captions': false,
                   'margins': 1
               });
               jQuery('#modal-body').each(function() { // the containers for all your galleries
                   $(this).click(function() {
                      $('#modal').modal('hide');
                   });
                   jQuery(this).magnificPopup({
                       removalDelay: 300,
                       mainClass: 'mfp-with-zoom mfp-img-mobile',
                       image: {
                           verticalFit: true,
                           titleSrc: function(item) {
                               return item.el.attr('title');
                           }
                       },
                       delegate: 'a', // the selector for gallery item
                       type: 'image',
                       gallery: {
                           enabled: true
                       },
                       zoom: {
                           enabled: true,
                           duration: 300, // don't foget to change the duration also in CSS
                           opener: function(element) {
                               return element.find('img');
                           }
                       }
                   });
               });
            return false;
           }
       });



       jQuery('g circle').tooltip();

   });
     
</script>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="title"></h4>
      </div>
      <div class="modal-body" id="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>