#carousel500px.carousel.slide.carousel-fade
  / Wrapper for slides

  .carousel-inner
    - j = 0
    - @images.each do |i|
      - if j==0 
        - j = 1
        .item.active
          %img{:src => "#{i['url']}"}
            .carousel-caption
              %p &copy; MWAhmed
      - else
        .item 
          %img{"data-lazy-load-src" => "#{i['url']}"}
            .carousel-caption
              %p &copy; MWAhmed


  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel500px"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel500px"}
    %span.icon-next  