<script type="text/javascript">
$(document).ready(function() {
  $("#gallery").justifiedGallery({
        'usedSuffix': 'lt240',
        'justifyLastRow': false,
        'rowHeight': 120,
        'fixedHeight': false,
        'captions': false,
        'margins': 1
    });

  $('#gallery').each(function() { // the containers for all your galleries
    $(this).magnificPopup({
        removalDelay: 300,
        mainClass: 'mfp-with-zoom mfp-img-mobile',
        image: {
          verticalFit: true,
          titleSrc: function(item) {
            return item.el.attr('title');
          }
        },
        delegate: 'a', 
        type: 'image',
        gallery: {
          enabled:true
        },
        zoom: {
          enabled: true,
          duration: 300, 
          opener: function(element) {
            return element.find('img');
          }
        }
    });
  });
});

</script>

<%= button_to "Map view", map_path, :class => "btn btn-default navbar-btn", :method => "get"%>

<div id="gallery" >
  <% @images.each do |img| %>
    <a href=<%=img["url"] %>  title='<%=img["title"] %>'>
        <img class="galler-image" src=<%=img["url"] %>/>
    </a>
  <% end %> 
</div>