<script type="text/javascript"> 
var index = 0;
var totalIndexes = parseInt("<%=j @html_strings.size.to_s%>");
var jsonString = "<%=j @html_strings_json %>";
var json = JSON.parse(jsonString);

var html_string = json[index.toString()];
initalImages();

function initalImages() {
  $("#img-row").html(html_string);
  return false;
}

function displayNextImages() {
  index = index+1;
  if (index < totalIndexes) {
    var html_string = json[index.toString()];
    $("#img-row").empty();
    $("#img-row").html(html_string);    
  } else {
    index = totalIndexes-1;
  }

}

function displayPrevImages() {
  index = index-1;
  if (index > -1) {
    var html_string = json[index.toString()];
    $("#img-row").empty();
    $("#img-row").html(html_string);    
  } else {
    index = 0;
  }

}

function imageModal(el) {
  $('.imagePreview').attr('src', el.src);
  $('#imgModal').modal('show');
};

</script>

<div id="gallery" class="container-fluid">
    <div class="row pull-right">
      <button class="btn btn-large prv_btn" onclick="displayPrevImages();return false;">
        <i class="fa fa-arrow-left"></i>
      </button>
      <button class="btn btn-large nxt_btn" onclick="displayNextImages();return false;">
        <i class="fa fa-arrow-right"></i>
      </button>
      <br><br>
    </div>
    <div id="img-row" class="row">
    </div>
    <div class="row pull-right">
      <button class="btn btn-large prv_btn" onclick="displayPrevImages();return false;">
        <i class="fa fa-arrow-left"></i>
      </button>
      <button class="btn btn-large nxt_btn" onclick="displayNextImages();return false;">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>  
</div>

<div class="modal fade" id="imgModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="btn btn-large pull-right fa fa-times-circle fa-4" data-dismiss="modal"></button>
    <br>
	</div>
	<div class="modal-body">
    <img src="" class="imagePreview" style="max-height: 100%; max-width:100%;">
	</div>
  </div>
  </div>
</div>


