<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.0/jquery.justifiedGallery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.0/css/justifiedGallery.min.css">

<script type="text/javascript">
$(document).ready(function() {
  $("#gallery").justifiedGallery({
        'usedSuffix': 'lt240',
        'justifyLastRow': false,
        'rowHeight': 120,
        'fixedHeight': false,
        'captions': false,
        'margins': 1
    });

  $('#gallery').each(function() { // the containers for all your galleries
    $(this).magnificPopup({
        removalDelay: 300,
        mainClass: 'mfp-with-zoom mfp-img-mobile',
        image: {
          verticalFit: true,
          titleSrc: function(item) {
            return item.el.attr('title');
          }
        },
        delegate: 'a', // the selector for gallery item
        type: 'image',
        gallery: {
          enabled:true
        },
        zoom: {
          enabled: true,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        }
    });
  });
});

</script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Related</a>
    </div>
    <div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li> <%= button_to "Map view", map_path, :class => "btn btn-default navbar-btn", :method => "get"%> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="gallery" >
  <% @images.each do |img| %>
    <a href=<%=img["url"] %>  title='<%=img["title"] %>'>
        <img class="galler-image" src=<%=img["url"] %>/>
    </a>
  <% end %> 
</div>