//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Core
@import "variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-buttons";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";
@import "magnific-popup";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';



//
// Minor Tweaks
//

// Padding to clear fixed nav
body {
  padding-top: 70px;
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    position: relative;
    height:500px;
    width: auto;
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel-caption {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
  font-size: 20px;
}

ul.nav.navbar-nav.navbar-right {
  padding-right: 15px; 
}

.modal-header {
  margin: 0px;
}
.modal-dialog {
  padding: 0;
  background-color: #000;
  width:100%;
}

.modal-content {
  text-align: center;
  border-radius: 0;
  background-color: #000;
}

.modal-body {
  margin: 0px;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

