// Page footer

.page__footer {
  text-align: right;
  p {
    padding-right: 20px;
  }
  ul {
    @extend .list-unstyled;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: $navbar-default-link-color;
    &:hover {
      color: $link-color;
    }
  }
}
