%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ AdSense
%ins.adsbygoogle{"data-ad-client" => "ca-pub-2185232063477218", "data-ad-format" => "auto", "data-ad-slot" => "5627857282", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});